/*=====================================================
|-Footer Style                                       |
=====================================================*/
.footerStructure{
    position: relative;
    width: 100%;
    height: 30vh;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.6) inset;
    background: #f1f1f1;
    margin-top: 50px;
    z-index: 1;
}

.footerStructure::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 90%;
    background: url(../img/money/stripe.png);
    background-size: cover;
    left: 5%;
    top: 5%;
    z-index: -1;
}

.footerStructure::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 90%;
    background: url(../img/money/stripe.png);
    background-size: cover;
    left: 65%;
    top: 5%;
    z-index: -1;
}

.footerStructure .footerContainer{
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
}

.footerContainer .copy{
    position: relative;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 30px;
    color: #222;
    padding-top: 20px;
    margin-bottom: 70px;
}

.footerContainer .copy a,
.footerContainer .copy a:hover{
    color: #37ddbe;
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media screen and (max-width: 600px){
    .footerContainer .copy{
        font-size: 25px;
    }
    
}